body {
	background-color: transparent;
}

button.submit-question-btn {
	background-color: rgb(16, 111, 16);
}

button.submit-question-btn:hover {
	background-color: rgb(21, 146, 21);
}

.new-question {
	padding: 0.7rem;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: var(--vscode-input-border);
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.justify-between {
	justify-content: space-between;
}

button.xout-btn {
	height: 1.4rem;
	width: 1.4rem;
	padding: 1px 1px;
	background-color: var(--vscode-button-secondaryBackground);
}

button.xout-btn:hover {
	background-color: var(--vscode-button-secondaryHoverBackground);
}

.mt {
	margin-top: 0.5rem;
}

.terminal-output {
	margin-top: 0.2rem;
	height: 10rem;
}

.snippet-hint {
	margin-top: 0.2rem;
	font-size: smaller;
	opacity: 0.3;
}

.snippet {
	background-color: var(--vscode-input-background);
	color: var(--vscode-input-foreground);
}

.snippet-line {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.snippet-context .location {
	font-size: smaller;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}